### Q1
There are multible ways:
* for example using # while the Konsol on code mode 
* also we can use the markdown in many ways as headers,titels, subtitels or key points
*  or we can use the qutation Mark

In [2]:
#Exp1: then write anything in code mode

In [4]:
'''
Exp2: (multi line code)
we can write anything 
in more than one line 
and its fine

'''

'\nExp2: (multi line code)\nwe can write anything \nin more than one line \nand its fine\n\n'

In [5]:
#Q2
'''
* variables in python can be in many forms
* but we cant start with numbers or some sympols such as - , * ,:, etc
* we cant also start the variable with functions : for Example wa cant name it  with : or, if ,while , ...etc
* we can declare thim like the following example :
a = 1        (integer)
b = 'pw'     (string)
c_data =  [1,2,3,'i']      (list)
and so on 
'''

"\n* variables in python can be in many forms\n* but we cant start with numbers or some sympols such as - , * ,:, etc\n* we cant also start the variable with functions : for Example wa cant name it  with : or, if ,while , ...etc\n* we can declare thim like the following example :\na = 1        (integer)\nb = 'pw'     (string)\nc_data =  [1,2,3,'i']      (list)\nand so on \n"

In [11]:
#Q3
'''
converting data can be done in many ways:
* we cant use the inbuilt functions, EXP: a='12' (as string) -> int(a) -> = 12 (as integer)
* exp: a = 'abdullah' -> list(a) -> = ['a', 'b', 'd', 'u', 'l', 'l', 'a', 'h']
'''

"\nconverting data can be done in many ways:\n* we cant use the inbuilt functions, EXP: a='12' (as string) -> int(a) -> = 12 (as integer)\n* exp: a = 'abdullah' -> list(a) -> = ['a', 'b', 'd', 'u', 'l', 'l', 'a', 'h']\n"

#Q4
''' 
open the command prompt in my pc and then writing the following step after installing python

C:\Users\abadi>python
Python 3.11.4 (tags/v3.11.4:d2340ef, Jun  7 2023, 05:45:37) [MSC v.1934 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.
>>> print('Hello World')
Hello World
>>> 2+3
5
>>> print('Hallo PWskills')
Hallo PWskills
>>>


'''

In [13]:
#Q5

my_list = [1,2,3,4,5]
my_list

[1, 2, 3, 4, 5]

In [17]:
sub_list = my_list[1:3]
sub_list

[2, 3]

In [18]:
#Q6 
' complex number contains to values , one is real and the other on is imaginiry '
a = 1+2j
a

(1+2j)

In [19]:
type(a)

complex

In [20]:
# Q7
age = [45, 55, 80, 30, 29, 19 ]
age

[45, 55, 80, 30, 29, 19]

In [21]:
age.append(25)

In [22]:
age

[45, 55, 80, 30, 29, 19, 25]

In [28]:
#Q8
price = [100,200,35,14,66,2]
price

[100, 200, 35, 14, 66, 2]

In [24]:
price.append(9.99)

In [25]:
price

[100, 200, 35, 14, 66, 2, 9.99]

In [26]:
type(price)

list

In [27]:
type(9.99)

float

In [29]:
#Q9 , we can print using shift+enter or ctr+enter
name = ' Abdullah Reslan '
name

' Abdullah Reslan '

In [31]:
#or
name

' Abdullah Reslan '

In [32]:
string = "Hello, World"
string

'Hello, World'

In [38]:
substring = string[6:]
substring

' World'

In [39]:
#or
s_string = string.split(', ')[1]

In [40]:
s_string

'World'

In [41]:
#Q11
var = 'is_student'

for i in var :
    if i == 'is_student':
        print(bool(i))

In [42]:
bool(i)

True

In [46]:
for i in var:
    if input(i) == var:
        print(True)
        break
    else:
        print(False)

i is_student

True