In [1]:
a = 10
a

10

In [2]:
a = 'C'

In [3]:
type(a)

str

In [8]:
int('1234465')

1234465

In [9]:
int('Abs')

ValueError: invalid literal for int() with base 10: 'Abs'

In [13]:
print('Hello World')

Hello World

In [14]:
print(123)

123

In [16]:
print('Hello World')

Hello World

In [19]:
age = 26
print("My Age is :",age)

My Age is : 26

In [23]:
# f String ....... formating string
print(f"My Age is : {age}")

My Age is : 26

In [26]:
age = 26
name = 'abdullah'
print( 'My Name is {} and age is {}'.format(name,age))

My Name is abdullah and age is 26

In [27]:
print('My Name is {} and age Is {}'.format(age,name))

My Name is 26 and age Is abdullah

In [31]:
## placeholder
print('My name is {firstname} and age is {firstage} '.format(firstage=age,firstname=name))

My name is abdullah and age is 26

In [33]:
name = 'Abdullah'
age= 26
degree='BE'
print(f'My Age is {age} and i have completed my degree of {degree} with the name of{name}')

My Age is 26 and i have completed my degree of BE with the name ofAbdullah

In [34]:
print('My Age is {} and i have completed my degree of {} with the name of {}'.format(age,degree,name))

My Age is 26 and i have completed my degree of BE with the name of Abdullah

In [43]:
print('My Age is {TheAge} and i have Completed {firstdegree} with Name of {firstname}'.format(firstname=name,firstdegree=degree,TheAge=age))

My Age is 26 and i have Completed BE with Name of Abdullah

## contol Flow
### Decision Making Statments
* its kinde of making Desicion during occurred situation of programm execution and action can be taken according to specified condition 
***hhhh***
**** hgh

In [44]:
## if Statment 
age = 18
if age >= 18:
    print("You are eligible to vote")

You are eligible to vote

In [47]:
if age < 18:
    print("Hello World")

In [51]:
18!=19

True

In [52]:
input()

 Abdullah Reslan

'Abdullah Reslan'

In [53]:
name=input('Enter the Name')

Enter the Name Abdullah Reslan

In [54]:
name

'Abdullah Reslan'

In [55]:
age=input('Enter the age ')

Enter the age  26

In [56]:
type(age)

str

In [57]:
int(age)

26

In [58]:
age1=int(input('Enter the age'))

Enter the age 26

In [59]:
type(age1)

int

In [60]:
##Task
##Take a input of age
## check weather age >=18 and age<=32
##if

In [62]:
age_me=int(input('enter the Age please'))

enter the Age please 26

In [63]:
type (age_me)

int

In [72]:
age_me=int(input('enter the Age please'))
if age_me >=18 and age_me <=45:
    print('You are a young Blood')
else:
    print("Thank you we will let you know")

enter the Age please 90

Thank you we will let you know

In [86]:
product=int(input('Enter the Product Price'))
if product>1000:
    print('The Price of the Product is {}'.format(product*0.8))
elif product<1000:
    print('The Price of the Product is {}'.format(product*0.7))
else:
    print('Fuck Bitches')

Enter the Product Price 10

The Price of the Product is 7.0

In [87]:
product=int(input('Enter the Product Price'))
if product>1000:
    print(f'The Price of the Product is {product*0.8}')
elif product<1000:
    print(f'The Price of the Product is {product*0.7}')
else:
    print('Fuck Bitches')

Enter the Product Price 120

The Price of the Product is 84.0

In [ ]:
p=int(input('Enter the whole Price:'))
if p>3000 :
    if p == 4000:
        print('you will get a goa trip')
    print(f'the Price after discount is {p*0.8}')
elif p>=2000 and p<=3000 :
    if p==2999:
        print('Congratulation you will get an additional gift')
    print(f'the Price after discount is {p*0.7}')
elif p>=100 and p<=2000:
    print(f'the Price after discount is {p*0.6}')
else :
    print('try something else')
    print('I will be there')

In [105]:
##singel statment
val=int(input('Enter the number'))
if(val<=999):print('Value is less than equal to 999')

Enter the number 999

Value is less than equal to 999

In [1]:
print('Hello World')

Hello World

## Loops Statments
1. While loop
2. for loop
3. nested loops
4. Loop control(break,continue,pass)

In [7]:
# while Loop while-else
joining_age = 25
while joining_age <= 60:
    print(joining_age)
    joining_age=joining_age+1
else:
    print('Its time for retirement')

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time for retirement

In [13]:
### Atm machine with 1000 rs
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print('Put more money bank people')

print('Hello')

1000
900
800
700
600
500
400
300
200
100
Put more money bank people
Hello

## For loop

In [14]:
lst=['Abdullah',1,2,3,4,'apple','banana']

In [15]:
type(lst)

list

In [16]:
lst.pop(0)

'Abdullah'

In [18]:
print(lst)

[1, 2, 3, 4, 'apple', 'banana']

In [20]:
lst[0]

1

In [21]:
lst=['Abdullah',1,2,3,4,'apple','banana']

In [22]:
for x in lst :
    print(x)

Abdullah
1
2
3
4
apple
banana

In [23]:
fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]

In [28]:
for a in fruits_list:
    print(a)
    if a== "Cherry":
        print("the Fruit is cherry")

Mango
Cherry
the Fruit is cherry
Apple
Papaya
Banana

In [29]:
fruit = 'mango'
for x in fruit:
    print(x)

m
a
n
g
o

In [32]:
fruit[2]

'n'

In [ ]:
### Nested loops
n=7

In [39]:
### range
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [42]:
## Nested Loops
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [43]:
##Loop controls
## Break and continue
fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]

In [48]:
for i in fruits_list:
    if i =="Apple":
        print("the fruit is apple")
        break
    print(i)

Mango
Cherry
the fruit is apple

In [49]:
for i in fruits_list:
    if i == "Apple":
        print("the fruit is apple")
        pass
    print(i)

Mango
Cherry
the fruit is apple
Apple
Papaya
Banana

In [50]:
for i in fruits_list:
    if i == "Apple":
        print("the fruit is apple")
        continue
    print(i)

Mango
Cherry
the fruit is apple
Papaya
Banana